<!-- Footer -->
<footer id="footer">
   <div class="inner">
      <ul class="actions">
         <li><a href="https://www.facebook.com/infor30th" target="_blank" class="icon alt fa-facebook">建中資訊 INFOR 30th</a></li>
         <li><a href="https://www.facebook.com/ckcsc30" target="_blank" class="icon alt fa-facebook">成功電研 CKCSC 30th</a></li>
         <li><a href="https://www.facebook.com/zsisc24" target="_blank" class="icon alt fa-facebook">中山資研 ZSISC 24th</a></li>
         <li><a href="https://www.facebook.com/CMIOC24" target="_blank" class="icon alt fa-facebook">景美電資 CMIOC 24th</a></li>
      </ul>
      <ul class="copyright">
         <li><a href="https://github.com/pcchou/2017-four-schools-CC-camp">© Tommy Chiang, Ping-yu Chou</a></li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      </ul>
   </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56773661-4', 'auto');
  ga('send', 'pageview');

</script>
