<!-- Header -->
<header id="header">
   <a href="/" class="logo"><strong>成楓望建了美景</strong><span> 建成楓景聯合電資暑訓 </span></a>
   <nav>
      <a href="https://www.facebook.com/2017iczccamp"><span class="icon alt fa-facebook-official"></span></a>
      <span class="logo"><a href="/guide#three"><span class="button">立刻報名！</span></a></span>
      <a href="#menu">Menu</a>
   </nav>
</header>

<!-- Menu -->
<nav id="menu"><div class="inner">
   <ul class="links">
      <li><a href="/">主頁</a></li>
      <li><a href="/guide">營隊簡介</a></li>
      <li><a href="/guide#reg">報名辦法</a></li>
      <li><a href="/schedule">課程資訊</a></li>
      <li><a href="#">團隊簡介</a></li>
      <li><a href="/gallery">歷年紀錄</a></li>
      <li><a href="/guide#qna">Q &amp; A</a></li><li>
   </li></ul>
   <ul class="actions vertical">
      <li></li>
      <li><a href="/guide#three" class="button fit">報名截止！</a></li>
   </ul>
</div><a class="close" href="#menu">Close</a></nav>
