<!-- Header -->
<header id="header">
   <a href="index.html" class="logo"><strong>成楓望建了美景</strong><span> 建成楓景聯合電資暑訓</span</a>
   <nav>
      <a href="#menu">Menu</a>
   </nav>
</header>

<!-- Menu -->
<nav id="menu">
   <ul class="links">
      <li><a href="index.html">主頁</a></li>
      <li><a href="landing.html">營隊簡介暨報名辦法</a></li>
      <li><a href="elements.html">課程資訊</a></li>
      <li><a href="generic.html">歷年紀錄</a></li>
      <li><a href="landing.html">Q&A</a><li>
   </ul>
   <ul class="actions vertical">
      <li><a href="#" class="button fit">我想報名</a></li>
   </ul>
</nav>

