<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<%- include('head'); %>
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			<%- include('header'); %>
			<!-- Banner -->
			<section id="banner" class="major">
				<div class="inner">
					<h1>7/25 - 7/31</h1>
				</div>
			</section>

				<!-- Main -->
				<div id="main">

				<!-- One -->
				<section id="one" class="tiles">
					<article style="background-image: url(&quot;assets/images/pic01.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic01.jpg" alt="">
						</span>
						<header class="major">
							<h3><a href="guide" class="link">營隊簡介</a></h3>
							<p>暑訓者，營隊也？</p>
						</header>
					</article>
					<article style="background-image: url(&quot;assets/images/pic02.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic02.jpg" alt="">
						</span>
						<header class="major">
							<h3><a href="guide#reg" class="link">報名辦法</a></h3>
							<p>加入我們吧！</p>
						</header>
					</article>
					<article style="background-image: url(&quot;assets/images/pic03.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic03.jpg" alt="">
						</span>
						<header class="major">
							<h3><a href="/schedule" class="link">課程資訊</a></h3>
							<p>我們的暑訓上些什麼？</p>
						</header>
					</article>
					<article style="background-image: url(&quot;assets/images/pic04.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic04.jpg" alt="">
						</span>
						<header class="major">
							<h3><span>團隊簡介</span></h3>
							<p>（敬請期待）</p>
						</header>
					</article>
					<article style="background-image: url(&quot;assets/images/pic05.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic05.jpg" alt="">
						</span>
						<header class="major">
							<h3><span>Q &amp; A</span></h3>
							<p>（敬請期待）</p>
						</header>
					</article>
					<article style="background-image: url(&quot;assets/images/pic06.jpg&quot;);">
						<span class="image" style="display: none;">
							<img src="assets/images/pic06.jpg" alt="">
						</span>
						<header class="major">
							<h3><a href="/gallery" class="link">歷年照片</a></h3>
							<p>往年的活動照片！</p>
						</header>
					</article>
				</section>

				<!-- Two -->
				<section class="two">
					<div class="inner">
						<header class="major">
							<h2>最新消息？加入我們的粉專吧！</h2>
						</header>
						<p>包括課程簡介、注意事項、報到通知、錄取名單等等重要的事項都會在上面公佈！有興趣的夥伴們快快<strong>按讚、訂閱</strong>吧！</p>
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F2017iczccamp&tabs=timeline&width=340&height=360&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=171314869621110" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					</div>
				</section>

			</div>
			<%- include('footer'); %>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
