<!DOCTYPE HTML>
<!--
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <%- include('head'); %>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">
      <%- include('header'); %>
      <!-- Main -->
      <div id="main">

        <!-- One -->
        <section id="one">
          <div class="inner">
            <header class="major">
              <h2>Q&A</h2>
            </header>
            <p>
            Q:是否能匯款？
            A:是的可以，請等到公布名單的當天過後再開始繳費喔~
            </p>

<p>
Q:若活動延遲怎麼辦？
A:我們儘量將活動控制於原定時間結束，若有延遲，我們將一一電話告知家長，避免讓您擔心。
</p>

<p>
Q:第一日的集合地點是？
A:為避免學員們迷路，我們將派人在捷運中正紀念堂5號出口舉牌接送，如有更動，將會另行通知。
</p>

<p>
Q:有沒有保險？
A:有的 為期七天的意外險 我們也會注意活動之安全。
</p>

<p>
Q:跟別人（其他活動）有什麼不一樣？
A:我們和其他人的研究方向以及活動內容不同，我們會對不同學生的程度作一些教學上的調整，使大家都能學到東西，滿載而歸!!
</p>

<p>
Q:教的人是誰？
A:主要是由同學負責 我們的同學針對自己有興趣和專精的部份研究出來的教學。
</p>

<p>
Q:有教什麼？
A:除了程式語言外 也有繪圖及其他程式之應用，即使已經學過了，也可以來參加，學習更多其他的語言及軟體。
</p>

<p>
Q:小孩完全沒有基礎，上課會不會完全聽不懂?
A:我們是由年齡與他們相符的高中生來上課，對於學習上比較容易卡住的地方，我們會更加仔細的教學!!
</p>

<p>
Q:本活動的意義？/參加營隊對升學有何幫助？
A:可以培育並發現學生對資訊領域的認識，能幫助同學提早了解各科系的特色及挑戰，相信他們能找到自己最適合的科系。
</p>

<p>
Q:家長可否陪同？
A:我們的活動針對學生設計，家長想參加的話我們只能說聲抱歉囉。
</p>

<p>
Q:費用用處？
A:主要是活動的花費及午餐，教學本身是免費的。
</p>

<p>
Q:吃什麼？
A:我們會有提供學員午餐。
</p>

<p>
Q:身體不適怎辦？
A:我們會提供必要的協助。
</p>

<p>
Q:最晚會到幾點？
A:大概傍晚結束，唯獨7/28跟7/31會比較晚些。
</p>

<p>
Q:報名手續如何確認完成？
A:我們會統一在粉絲專頁和網站上公佈。
</p>

<p>
Q:什麼人可以報名？
A:只要是國中生皆可，主要希望是應屆畢業生。
</p>

<p>
Q:突然有事會退費嗎？
A:我們會視情況斟酌退費，若確定當日已不能來，我們可以退還午餐的費用。
</p>

<p>
Q:如果會晚下課會請學員連絡家長嗎?
A:會的，請家長不用擔心。
</p>

<p>
Q:衣服的尺寸是要怎麼選呢?
A:我們會在近日將尺寸表上傳至報名網站。
</p>

<p>
Q:團體優惠的部分可以3個人以上嗎?
A:目前沒有這個打算，主要是以3人為一組合法的團報。
</p>

<p>
Q:團報可以只要2個人嗎?
A:承上，目前也並無此打算。
</p>

<p>
Q:企業參訪是哪間公司呢?
A:目前預定是德州儀器，有更動的話另外通知。
</p>
          </div>
        </section>

        <!-- Two and half -->
        <section class="two">
          <div class="inner">
            <header class="major">
              <h2>有不清楚或好奇的地方嗎？<br style="display: none;">來粉專發問吧！</h2>
            </header>
            <p>關於我們的活動有什麼說明不清楚的地方嗎？快來粉專訊息提問吧！</p>
            <div class="frames">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F2017iczccamp&tabs=timeline&width=340&height=360&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=171314869621110" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
          </div>
        </section>
        <div style="clear: both;"></div>

      </div>
      <%- include('footer'); %>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="assets/css/datepicker.css" />
			<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
         <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/datepicker-CN.js"></script>
    <script>
$('[data-toggle="datepicker"]').datepicker({
  language: 'zh-CN',
  'date': '2002/01/01',
  'endDate': 'now',
});
    </script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
